%h1 Find Top Hotel Deals
.col-md-4.col-md-offset-4.col-xs-3
  %form{ action: '/search', method: :post }
    .form-group
      %label{ for: 'destinationCity' } Destination City
      %input{ type: :text, name: 'destinationCity', id: 'destinationCity', class: 'form-control' }

    .form-group
      %label{ for: 'minTripStartDate' } Trip Start Date
      %input{ type: :text, name: 'minTripStartDate', id: 'minTripStartDate', class: 'form-control' }

    %button.btn.btn-primary{ type: 'submit' } Search Deals
