%h1 Find Top Hotel Deals
.col-md-4.col-md-offset-4.col-xs-3
  %form{ action: '/search', method: :post }
    - { destinationCity:  'Destination City',
        minTripStartDate: 'Minimum Trip Start Date',
        maxTripStartDate: 'Maximum Trip Start Date',
        lengthOfStay:     'Length of Stay',
        minGuestRating:   'Minimum Guest Rating',
        maxGuestRating:   'Maximum Guest Rating',
        minTotalRate:     'Minimum Total Rate',
        maxTotalRate:     'Maximum Total Rate' }.map do |key, label_text|
      .form-group
        %label{ for: key }= label_text
        %input{ type: :text, name: key, id: key, class: 'form-control' }

    %button.btn.btn-primary{ type: 'submit' } Search Deals
